@keyframes login {
    100% {
        transform: translateX(2px);
        opacity: 0;
    }
}

@keyframes card_theme {

    from {
        transform: translateX(-10px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animateexit{
    from {
        top: 0;
        opacity: 1
    }

    to {
        top: -300px;
        opacity: 0
    }
}