:root{
    --primary-color: #5CED98;
    --primary-complement-color: #ee665c; 

    --light-grey-color: #eeee;
    --opac-grey-color: rgba(238, 238, 238, 0.7);

    --light-color: #ffff;
    --grey-color: #646464;
    --dark-color: #343a40;
}