@media (max-width: 800px){
    main{
        background-color: var(--dark-color);
    }

    .themes_cards{
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));   
    }
}

@media (max-width: 1200px) {
    html{
        font-size: 38.5%;
    }

	.grid{
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        max-width: 440px;
    }
}

@media (min-width: 1800px) {
	.grid{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        max-width: 1494px;
    }
}

@media (min-width: 2200px) {
	.grid{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        max-width: 1694px;
    }
}